/*Aqui se definen las variables Css*/
:root {
    /*Esta es una variable de CSS*/
    --color-principal: rgb(0, 187, 255);
    --ancho-principal: 250px;
}

.titulo {
    /*Asi se accede a una variable CSS*/
    color: var(--color-principal);
}

.footer {
    color: var(--color-principal)
}

.contenedor {
    background-color: antiquewhite;
    padding: 1rem;
    max-width: var(--ancho-principal);
}