
body {
    display: flex;
    justify-content: center;
}

.mainSection {
    background-color: lightsalmon;
    width: 20rem;
    height: 20rem;
    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
    background-color:  green;
    width: 2rem;
    height: 20rem;
}

.item {
    width: 1rem;
    height: 2rem;
    background-color: yellow;
}

@media (max-width: 640px){
    body {
        flex-direction: column-reverse;
    }
    .sidebar {
        flex-direction: row;
        width: 20rem;
        height: 2rem;
    }

    .item {
        width: 2rem;
        height: 1rem;
        background-color: yellow;
    }
}