.btn-modern {
    width: 50px;
    height: 30px;
    border: none;
}

.btn-modern:hover {
    background-color: green;    
    transform: translateY(-5px);
    box-shadow: 2px 2px 2px 2px darkgreen;
    color: white;
    transition: 0.4s;
}

